<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silita.dao.TbCompanyMapper">

    <select id="queryPersonList" parameterType="java.util.Map" resultType="java.util.Map">
      select t.com_id as comId
              ,t.com_name as comName
              ,t.name as name
              ,t.sex as sex
              ,t.id_card as idCard
              ,t.category as category
              ,t.cert_no as certNo
              ,t.seal_no as sealNo
              ,t.major as major
              ,t.cert_date as certDate
              ,t.valid_date as validDate
              ,t.url as url
      from tb_person_${tabCode} t
      where t.com_id = #{comId}
      order by t.px desc
    </select>

    <select id="queryCompanyInfo" parameterType="java.util.Map" resultType="java.util.Map">
        select t.com_id as comId
                ,t.com_name as comName
                ,t.regis_address as regisAddress
        from tb_company t
        where t.com_name = #{comName}
        order by t.created desc
        limit 1
    </select>

    <select id="queryProvinceCode" resultType="java.lang.String" parameterType="java.lang.String">
        select code from twf_dict where `type`=2 and is_valid=1 and `name`=#{provice}
    </select>

    <select id="queryCompanyQual" parameterType="java.util.Map" resultType="java.util.Map">
        select corpid as corpid
                ,tab as tab
                ,qual_type as qualType
                ,cert_no as certNo
                ,cert_org as certOrg
                ,cert_date as certDate
                ,valid_date as validDate
                ,qual_name as qualName
                ,`range` as `range`
                ,url as url
                ,com_id as comId
                ,com_name as comName
        from tb_company_qualification
        where com_id = #{comId}
    </select>
</mapper>